<div class="contacts card">
<div class="card-header">
  <h5><mat-icon style="vertical-align: -5px;margin-right: 10px">phone</mat-icon>Contatti</h5>
</div>
  <div class="card-body">
    <p>Per qualsiasi richiesta potete inviare le vostre domande a flyAway@gmail.com o compilare il form seguente</p>
    <div class="row">
        <mat-form-field class="col">
          <mat-label>Nominativo *</mat-label>
          <input matInput placeholder="Nome *" [(ngModel)]="nome">
        </mat-form-field>

      <mat-form-field class="col">
        <mat-label>Email *</mat-label>
        <input type="email  " matInput placeholder="Email *" [(ngModel)]="email" >
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Richiesta *</mat-label>
        <textarea matInput placeholder="Richiesta" [(ngModel)]="commento"></textarea>
      </mat-form-field>
      <div class="col">
        <button #subber [ngClass]="{'cursorDisabled':subber.disabled }" style="vertical-align: -20px" (click)="disabled ? null : this.sendData()" [disabled]="!allDatasAreValid()" class="btn btn-primary">Invia<mat-icon class="send-icon">send</mat-icon></button>
      </div>
    </div>
  </div>

</div>
