<div class="row" style="padding:3em">
  <div class="col-12 col-sm-4 col-xl-2" style="margin-bottom: 30px">
    <div class="card">


        <img style="display: flex; width: 100%;" src="assets/book_article.png">
      <div style="padding:20px">
        <h6 style="font-weight: bold"><mat-icon class="resize">edit</mat-icon> Scrittura</h6>
      </div>
      <div style="padding: 20px; height: 150px">
        Tutto ciò che c'è da sapere sulla scrittura
      </div>
      <div>
        <button style="margin:10px" class="btn btn-primary float-right">Prosegui <mat-icon style="vertical-align: -7px">navigate_next</mat-icon></button>
      </div>

    </div>

  </div>
  <div class="col-12 col-sm-4 col-xl-2" style="margin-bottom: 30px">
    <div class="card">


      <img style="display: flex; width: 100%;" src="assets/book_article.png">
      <div style="padding:20px">
        <h6 style="font-weight: bold"><mat-icon class="resize">lightbulb</mat-icon> Idee</h6>
      </div>
      <div style="padding: 20px; height: 150px">
        Scatena la tua mente con le idee
      </div>
      <div>
        <button style="margin:10px" class="btn btn-primary float-right">Prosegui <mat-icon style="vertical-align: -7px">navigate_next</mat-icon></button>
      </div>

    </div>

  </div>
</div>
